* {
  margin: 0;
  padding: 0;
  /*보더 박스는 내부 텍스트 사이즈에 따른 영향을 받지 않는다. 전체 사이즈 고정하기 위함*/
  box-sizing: border-box;
}

.section {
  /* background-color: red; */
}

.container {
  /* background-color: green; */
  --pInlineVal: 36px;
  max-width: calc(1200px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

.wrapper {
  /* background-color: blue; */
  padding-block: 32px;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}

.nav__menuWrapper {
  display: flex;
  gap: 24px;
  align-items: baseline;
}

.nav {
  background-color: black;
  color: white;
  font-weight: 700;
}

.button {
  width: fit-content;
  background-color: slateblue;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.button--type-text {
  background-color: unset;
  color: slateblue;
  padding-inline: 0;
}

/* #hero1 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
