* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.section {
  //   background-color: red;
}

.container {
  //   background-color: green;
  --pInlineVal: 36px;
  max-width: calc(1200px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

.wrapper {
  //   background-color: BLUE;
  padding-block: 32px;
}

.bar {
  position: sticky; // 상단바 고정
  top: 0;
  background-color: black;
  color: white;
  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .bar__menuWrapper {
      display: flex;
      gap: 36px;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  &__profile {
    color: white;
  }
  &__logo {
    width: 58px;
  }
}

.sale {
  background-color: antiquewhite;
  overflow: hidden;
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
