* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.section {
  background-color: rgb(37, 56, 85);
}

.container {
  --pInlineVal: 36px;
  max-width: calc(1000px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

#containLib {
  --pInlineVal: 36px;
  max-width: calc(1200px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

.wrapper {
  padding-block: 32px;
}

.bar {
  position: sticky;
  top: 0;
  background-color: black;
  font-weight: 700;
}
.bar .wrapper {
  display: flex;
  justify-content: space-between;
}
.bar .wrapper .bar__menuWrapper {
  display: flex;
  gap: 36px;
  align-items: center;
}
.bar .wrapper .bar__menuWrapper a {
  text-decoration: none;
}
.bar__logo {
  width: 58px;
}

@media (width < 41.875rem) {
  .bar .wrapper {
    height: 100px;
  }
  .bar__menuWrapper {
    gap: 12px;
  }
  .bar__profile {
    display: none;
  }
}
.sale {
  overflow: hidden;
}
.sale > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.shop1__title {
  margin-bottom: 24px;
}
.shop1__main {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.shop1__main__image {
  flex: 3;
  aspect-ratio: 5/3;
}
.shop1__main__image > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.shop1__main__info {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 30, 46);
}
.shop1__main__info > * {
  margin-inline: 12px;
  flex: 1;
  color: white;
}
.shop1__main__info h2 {
  margin-top: 16px;
}
.shop1__main__info .images {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.shop1__main__info .images > * {
  aspect-ratio: 2/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop1__main__info .price {
  margin-top: 12px;
  font-size: 18px;
}
.shop1__main__info .tags {
  display: flex;
  align-items: center;
}
.shop1__main__info .tags > * {
  margin-block: 8px;
  margin-right: 8px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: skyblue;
  font-size: 15px;
}

@media (width < 51.25rem) {
  .shop1__main {
    display: unset;
    justify-content: space-around;
    gap: 24px;
  }
  .shop2 .game {
    display: flex;
    flex-direction: column;
  }
  .shop2 .game__image {
    margin-top: 12px;
  }
  .shop2 .game__price {
    display: none;
  }
}
.shop2 {
  background-color: rgb(37, 56, 85);
}
.shop2 .gameWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.shop2__title {
  margin-bottom: 24px;
}
.shop2 .game {
  background-color: white;
  display: flex;
  align-items: center;
}
.shop2 .game > * {
  flex: 1;
}
.shop2 .game__image {
  max-width: 360px;
  aspect-ratio: 2/1;
  overflow: hidden;
}
.shop2 .game__image > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.shop2 .game__text {
  margin-left: 12px;
}
.shop2 .game__text > * {
  color: rgb(37, 42, 57);
}
.shop2 .game__text h3 {
  margin-bottom: 8px;
  font-size: 24px;
}
.shop2 .game__price {
  color: rgb(37, 42, 57);
  text-align: center;
  max-width: 148px;
}

.library {
  background-color: rgb(37, 56, 85);
}
.library .wrapper {
  display: flex;
  gap: 24px;
}
.library .wrapper .list {
  width: 240px;
  background-color: black;
  padding: 12px;
}
.library .wrapper .list__search {
  color: rgb(22, 25, 37);
  margin-bottom: 12px;
}
.library .wrapper .list__games {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.library .wrapper .galleryWapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.library .wrapper .gallery {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.library .wrapper .gallery__text {
  font-size: 18px;
}
.library .wrapper .gallery__image {
  display: flex;
  gap: 12px;
  align-items: center;
}
.library .wrapper .gallery__image .image {
  max-width: 360px;
  aspect-ratio: 3/4;
  overflow: hidden;
}
.library .wrapper .gallery__image .image > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.library .list__search {
  background-color: rgb(37, 56, 85);
  padding: 4px;
  border-radius: 4px;
  font-size: 15px;
}
.library .list__games__game {
  background-color: rgb(37, 56, 85);
  padding: 4px;
  border-radius: 4px;
  font-size: 15px;
}

.community .wrapper h2 {
  margin-bottom: 18px;
}
.community .wrapper .windowWrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 12px;
}
.community .wrapper .windowWrapper #window1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.community .wrapper .windowWrapper #window3 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.community .wrapper .window {
  background-color: rgb(25, 30, 46);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}
.community .wrapper .window__image {
  flex: 3;
  overflow: hidden;
}
.community .wrapper .window__image > * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.community .wrapper .window__text {
  flex: 1;
  overflow: hidden;
}
.community .wrapper .window__text > * {
  color: white;
}
.community .wrapper .window__text__title {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}/*# sourceMappingURL=STYLE01.css.map */