* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.section {
  background-color: rgb(37, 56, 85);
}
.container {
  --pInlineVal: 36px;
  max-width: calc(1000px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

#containLib {
  --pInlineVal: 36px;
  max-width: calc(1200px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

.wrapper {
  padding-block: 32px;
}

.bar {
  position: sticky; // 상단바 고정
  top: 0;
  background-color: black;

  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .bar__menuWrapper {
      display: flex;
      gap: 36px;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }

  &__logo {
    width: 58px;
  }
}

// 반응형
@media (width < 820px) {
  .bar {
    .wrapper {
      height: 100px;
      .bar__menuWrapper {
        gap: 12px;
      }
    }
    &__profile {
      display: none;
    }
  }
}

.sale {
  overflow: hidden;
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.shop1 {
  &__title {
    margin-bottom: 24px;
  }
  &__main {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    &__image {
      flex: 3;
      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      aspect-ratio: 5/3;
    }
    &__info {
      flex: 2;
      display: flex;
      flex-direction: column;
      background-color: rgb(25, 30, 46);
      & > * {
        margin-inline: 12px;
        flex: 1;
        color: white;
      }
      h2 {
        margin-block: 8px;
      }
      .images {
        flex: 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        > * {
          aspect-ratio: 2/1;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .price {
        margin-top: 12px;
        font-size: 18px;
      }
      .tags {
        display: flex;
        align-items: center;
        & > * {
          margin-block: 8px;
          margin-right: 8px;
          height: fit-content;
          background-color: black;
          padding: 4px 8px;
          border-radius: 4px;
          text-align: center;
          color: skyblue;
          font-size: 15px;
        }
      }
    }
  }
}

// 반응형
@media (width < 51.25rem) {
  .shop1 {
    &__main {
      display: unset;
    }
  }
  .shop2 {
    .game {
      display: flex;
      flex-direction: column;
      &__image {
        margin-top: 12px;
      }
      &__price {
        display: none;
      }
    }
  }
}

.shop2 {
  background-color: rgb(37, 56, 85);
  .gameWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__title {
    margin-bottom: 24px;
  }
  .game {
    background-color: white;
    display: flex;
    align-items: center;
    & > * {
      flex: 1;
    }
    &__image {
      max-width: 360px;
      aspect-ratio: 2/1;
      overflow: hidden;
      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      > * {
        color: rgb(37, 42, 57);
      }
      margin: 12px;
      h3 {
        margin-bottom: 8px;
        font-size: 24px;
      }
    }
    &__price {
      color: rgb(37, 42, 57);
      text-align: center;
      max-width: 148px;
    }
  }
}

.library {
  background-color: rgb(37, 56, 85);
  container-type: inline-size;
  container-name: library;
  .wrapper {
    display: flex;
    gap: 24px;
    .list {
      width: 240px;
      background-color: black;
      padding: 12px;
      &__search {
        color: rgb(22, 25, 37);
        margin-bottom: 12px;
      }
      &__games {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    .galleryWapper {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    .gallery {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__text {
        font-size: 18px;
      }
      &__image {
        display: flex;
        gap: 12px;
        align-items: center;

        .image {
          max-width: 360px;
          aspect-ratio: 3/4;
          overflow: hidden;
          > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
  .list__search {
    background-color: rgb(37, 56, 85);
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
  }
  .list__games__game {
    background-color: rgb(37, 56, 85);
    padding: 4px;
    border-radius: 4px;
    font-size: 15px;
  }
  // 반응형
  @container library (width < 820px) {
    .wrapper {
      .list {
        display: none;
      }
      #imageHide {
        display: none;
      }
    }
  }
}

.community {
  container-type: inline-size;
  container-name: community;

  .wrapper {
    h2 {
      margin-bottom: 18px;
    }
    .windowWrapper {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: 1fr 1fr;
      gap: 12px;
      #window1 {
        grid-row-start: 1;
        grid-row-end: 3;
      }
      #window3 {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
    .window {
      background-color: rgb(25, 30, 46);
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 8px;
      &__image {
        flex: 3;
        overflow: hidden;
        > * {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &__text {
        flex: 1;
        overflow: hidden;
        > * {
          color: white;
        }
        &__title {
          display: flex;
          gap: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }
  //반응형
  @container community (width < 820px) {
    .wrapper {
      .windowWrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 12px;
        #window1 {
          grid-row-start: 1;
          grid-row-end: 2;
        }
        #window3 {
          grid-column-start: 1;
          grid-column-end: 2;
        }
      }
    }
  }
}
