* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.section {
  //   background-color: red;
}

.container {
  //   background-color: green;
  --pInlineVal: 36px;
  max-width: calc(1200px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

#containLib {
  margin-top: 48px;
  --pInlineVal: 36px;
  max-width: calc(1600px + 2 * var(--pInlineVal));
  margin-inline: auto;
  padding-inline: var(--pInlineVal);
}

.wrapper {
  //   background-color: BLUE;
  padding-block: 32px;
}

.bar {
  position: sticky; // 상단바 고정
  top: 0;
  background-color: black;
  color: white;
  font-weight: 700;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .bar__menuWrapper {
      display: flex;
      gap: 36px;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  &__profile {
    color: white;
  }
  &__logo {
    width: 58px;
  }
}

// 반응형 670px
@media (width < 41.875rem) {
  .bar {
    .wrapper {
      height: 100px;
    }
    &__menuWrapper {
      gap: 12px;
    }
    &__profile {
      display: none;
    }
  }
}

.sale {
  margin-bottom: 48px;
  overflow: hidden;
  > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.shop1 {
  &__title {
    // font-size: 24px;
    margin-bottom: 24px;
  }
  &__main {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    &__image {
      flex: 3;

      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      aspect-ratio: 5/3;
    }
    &__info {
      flex: 2;
      display: flex;
      flex-direction: column;
      background-color: rgb(37, 56, 85);
      & > * {
        margin-inline: 12px;
        flex: 1;
        color: white;
      }
      h2 {
        margin-top: 16px;
      }
      .images {
        flex: 4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        > * {
          aspect-ratio: 2/1;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .price {
        margin-top: 12px;
        font-size: 18px;
      }
      .tags {
        display: flex;
        align-items: center;
        & > * {
          margin-block: 8px;
          margin-right: 8px;
          height: fit-content;
          background-color: black;
          padding: 4px 8px;
          border-radius: 4px;
          text-align: center;
          color: skyblue;
          font-size: 15px;
        }
      }
    }
  }
}

// 반응형 820px
@media (width < 51.25rem) {
  .shop1 {
    &__main {
      display: unset;
      justify-content: space-around;
      gap: 24px;
    }
  }
  .shop2 {
    .game {
      display: flex;
      flex-direction: column;
      &__image {
        margin-top: 12px;
      }
      &__price {
        display: none;
      }
    }
  }
}

.shop2 {
  padding-bottom: 48px;
  background-color: rgb(37, 56, 85);
  .gameWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__title {
    margin-bottom: 24px;
    color: white;
  }
  .game {
    background-color: white;
    display: flex;
    align-items: center;
    & > * {
      flex: 1;
    }
    &__image {
      max-width: 360px;
      aspect-ratio: 2/1;
      overflow: hidden;
      > * {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__text {
      margin-left: 12px;
      h3 {
        margin-bottom: 8px;
        font-size: 24px;
      }
    }
    &__price {
      text-align: center;
      max-width: 148px;
    }
  }
}

.library {
  .wrapper {
    display: flex;
    gap: 24px;
    .list {
      background-color: black;
      padding: 12px;
      &__search {
        margin-bottom: 12px;
      }
      &__games {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
    }
    .galleryWapper {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    .gallery {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__text {
        font-size: 18px;
      }
      &__image {
        display: flex;
        gap: 12px;
        align-items: center;
        // & > * {
        //   flex: 1;
        // }
        .image {
          max-width: 360px;
          aspect-ratio: 3/4;
          overflow: hidden;
          > * {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
  .list__search {
    background-color: slategrey;
    color: rgb(78, 98, 117); // 돋보기 이미지 넣기
    padding: 4px 48px;
    border-radius: 4px;
    // text-align: start;
    font-size: 15px;
  }
  .list__games__game {
    // height: fit-content;
    background-color: slategray;
    color: black;
    padding: 4px;
    border-radius: 4px;
    // text-align: center;
    font-size: 15px;
  }
}

.community {
}
